{%- extends "bootstrap/base.html" %}

{% block title %}Todoer{% endblock %}

{% block body %}
    {% block navbar %}
        <nav class="navbar navbar-default container">
            <div class="navbar-brand">Todoer</div>
            {% if user.is_authenticated %}
                <ul class="navbar-nav nav">
                    <li>
                        <a href="{{ url_for('profile')}}">Home</a>
                    </li>
                    {% if user.admin %}
                    <li>
                        <a href="{{ url_for('admin')}}">Admin</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('logout')}}">Logout</a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    {% endblock navbar %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock body %}
