{%- extends "bootstrap/base.html" %}

{% block title %}Todoer{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-brand">Todoer</div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout')}}">Logout</a>
                    </li>
                </ul>
    </nav>
{% endblock %}
