{% extends "base.html" %}

{% block title %}Todoer - Profile{% endblock title %}

{% block content %}
    <h1>{{ user.username }}</h1>

    <div>
        <h2>Todos</h2>
        <ul class="list-group">
            {% for todo in todos %}
                <li class="list-group-item"><input type="checkbox" />{{todo.text}}</li>
            {% endfor %}
        </ul>
    </div>

    <form method="post">
        <div class="mb-3">
            <label for="todoText" class="form-label">Todo</label>
            <input type="text" id="todoText" name="todoText" class="form-control" />
            <button type="submit" class="btn btn-primary">Create Todo</button>
        </div>
    </form>

{% endblock content %}
